<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_002{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_002{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_003{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_003{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_004{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
        div.cls_004{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
        -->
    </style>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-298px;top:0px;width:596px;height:842px;border-style:outset;overflow:hidden" id="print">
    <div style="position:absolute;left:0px;top:0px">
        <img src="/assets/images/background1.jpg" width=596 height=842></div>
    <div style="position:absolute;left:270.87px;top:85.86px" class="cls_002"><span class="cls_002">Акт № ___</span></div>
    <div style="position:absolute;left:158.28px;top:100.41px" class="cls_002"><span class="cls_002">приема-передачи материальных ценностей работнику</span></div>
    <div style="position:absolute;left:437.40px;top:129.50px" class="cls_002"><span class="cls_002">"<%- equipmentUser.createdAtDay %>" <%- equipmentUser.createdAtMonth %> <%- equipmentUser.createdAtYear %> г.</span></div>
    <div style="position:absolute;left:72.00px;top:158.60px" class="cls_002"><span class="cls_002">____________________________________, именуемое в дальнейшем "Работодатель",</span></div>
    <div style="position:absolute;left:72.00px;top:173.14px" class="cls_002"><span class="cls_002">в лице ____________________________________________, действующего на</span></div>
    <div style="position:absolute;left:72.00px;top:187.69px" class="cls_002"><span class="cls_002">основании Устава, с одной стороны, и системный администратор __________________,</span></div>
    <div style="position:absolute;left:72.00px;top:202.23px" class="cls_002"><span class="cls_002">паспорт РФ _____ __________, выдан _______________________________________,</span></div>
    <div style="position:absolute;left:72.00px;top:216.78px" class="cls_002"><span class="cls_002">проживающий по адресу: ___________________________________________________,</span></div>
    <div style="position:absolute;left:72.00px;top:231.33px" class="cls_002"><span class="cls_002">именуемый в дальнейшем "Работник", с другой стороны, составили настоящий акт о</span></div>
    <div style="position:absolute;left:72.00px;top:245.87px" class="cls_002"><span class="cls_002">следующем:</span></div>
    <div style="position:absolute;left:90.00px;top:274.97px" class="cls_002"><span class="cls_002">1.  В соответствии с Трудовым договором от "___" _________ 20__ года № 43-7</span></div>
    <div style="position:absolute;left:108.00px;top:289.51px" class="cls_002"><span class="cls_002">Работодатель передал, а Работник принял следующие материальные ценности</span></div>
    <div style="position:absolute;left:108.00px;top:304.06px" class="cls_002"><span class="cls_002">для выполнения своих должностных обязанностей:</span></div>
    <div style="position:absolute;left:77.25px;top:339.15px" class="cls_003"><span class="cls_003">№ п/п</span></div>
    <div style="position:absolute;left:121.50px;top:339.15px" class="cls_003"><span class="cls_003">Наименование</span></div>
    <div style="position:absolute;left:259.50px;top:339.15px" class="cls_003"><span class="cls_003">Инв. №</span></div>
    <div style="position:absolute;left:352.50px;top:339.15px" class="cls_003"><span class="cls_003">Единица</span></div>
    <div style="position:absolute;left:452.25px;top:339.15px" class="cls_003"><span class="cls_003">Количество</span></div>
    <div style="position:absolute;left:121.50px;top:351.80px" class="cls_003"><span class="cls_003">материальных</span></div>
    <div style="position:absolute;left:352.50px;top:351.80px" class="cls_003"><span class="cls_003">измерения</span></div>
    <div style="position:absolute;left:121.50px;top:364.45px" class="cls_003"><span class="cls_003">ценностей</span></div>
    <div style="position:absolute;left:77.25px;top:388.35px" class="cls_002"><span class="cls_002">1</span></div>
    <div style="position:absolute;left:121.50px;top:388.35px" class="cls_002"><span class="cls_002"><%- equipmentUser.equipment.type %> <%- equipmentUser.equipment.subtype %></span></div>
    <div style="position:absolute;left:259.50px;top:388.35px" class="cls_002"><span class="cls_002"><%- equipmentUser.equipment.inventoryCode %></span></div>
    <div style="position:absolute;left:352.50px;top:388.35px" class="cls_002"><span class="cls_002">шт.</span></div>
    <div style="position:absolute;left:452.25px;top:388.35px" class="cls_002"><span class="cls_002">1</span></div>
    <div style="position:absolute;left:121.50px;top:401.00px" class="cls_002"><span class="cls_002"><%- equipmentUser.equipment.brand %></span></div>
    <div style="position:absolute;left:121.50px;top:413.65px" class="cls_002"><span class="cls_002"><%- equipmentUser.equipment.name %></span></div>
    <div style="position:absolute;left:90.00px;top:446.84px" class="cls_002"><span class="cls_002">2.  Материальные ценности проверены в присутствии сторон, замечания</span></div>
    <div style="position:absolute;left:108.00px;top:461.39px" class="cls_002"><span class="cls_002">отсутствуют.</span></div>
    <div style="position:absolute;left:90.00px;top:475.93px" class="cls_002"><span class="cls_002">3.  Настоящий акт составлен в 2 экземплярах, по одному для каждой стороны.</span></div>
    <div style="position:absolute;left:255.22px;top:505.03px" class="cls_002"><span class="cls_002">Подписи сторон:</span></div>
    <div style="position:absolute;left:72.00px;top:534.12px" class="cls_002"><span class="cls_002">От:</span><span class="cls_004"> ________</span><span class="cls_002">/ _____________</span></div>
    <div style="position:absolute;left:72.00px;top:548.66px" class="cls_002"><span class="cls_002">Кому:</span><span class="cls_004"> __________</span><span class="cls_002"> / <%- `${equipmentUser.user.lastname[0]}. ${equipmentUser.user.firstname[0]}. ${equipmentUser.user.middlename}` %></span></div>
</div>

<script>
    var mywindow = window.open('', 'PRINT', 'height=400,width=600');

    mywindow.document.write('<html><head><title>' + document.title  + '</title>');
    mywindow.document.write('</head><body >');
    mywindow.document.write(document.getElementById('print').innerHTML);
    mywindow.document.write('</body></html>');

    mywindow.document.close(); // necessary for IE >= 10
    mywindow.focus(); // necessary for IE >= 10*/

    mywindow.print();
</script>

</body>
</html>
