<%- include('partials/head') %>

<div id="main">
    <div class="inner">

        <%- include('partials/header') %>

        <!-- Tables -->
        <section class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h2>Список типов оборудования</h2>
                        </div>
                        <div class="alternate-table">
                            <table>
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Наименование</th>
                                    <th>Опции</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% equipmentTypes.forEach(function (equipmentType, index) { %>
                                    <tr>
                                        <td><%- index + 1 %></td>
                                        <td><%- equipmentType.name %></td>
                                        <td>
                                            <a href="/equipments/types/<%- equipmentType._id %>">
                                                Обновить
                                            </a>
                                        </td>
                                    </tr>
                                <% }) %>
                                </tbody>
                            </table>
                            <ul class="table-pagination">
                                <li><a href="#">Previous</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">...</a></li>
                                <li class="active"><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

<%- include('partials/sidebar') %>

<%- include('partials/footer') %>
