<%- include('partials/head') %>

<div id="main">
    <div class="inner">

        <%- include('partials/header') %>

        <section class="forms">
            <h1 class="mb-5">Введите название типа оборудования:</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form id="contact" action="<%- equipmentTypesCreateUrl %>" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <select name="parent" id="parent">
                                        <option value="" selected>Выберите родительский тип</option>
                                        <% parentsEquipmentTypes.forEach(function (value) { %>
                                            <option value="<%- value._id %>"><%- value.name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="name" class="form-control" id="name" placeholder="Название типа..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="button">Подтвердить</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<%- include('partials/sidebar') %>

<%- include('partials/footer') %>
