<%- include('partials/head') %>

<div id="main">
    <div class="inner">

        <%- include('partials/header') %>

        <section class="forms">
            <h1 class="mb-5">Добавление оборудования:</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form id="contact" action="<%- equipmentsCreateUrl %>" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <input type="text" name="type" list="types" placeholder="Введите тип оборудования..." required="on" />
                                        <datalist id="types">
                                            <% usedEquipmentTypes.forEach(function (usedEquipmentType) { %>
                                                <option><%- usedEquipmentType %></option>
                                            <% }) %>
                                        </datalist>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <input type="text" name="subtype" list="subtypes" placeholder="Введите подтип оборудования..." />
                                        <datalist id="subtypes">
                                            <% usedEquipmentSubtypes.forEach(function (usedEquipmentSubtype) { %>
                                                <option><%- usedEquipmentSubtype %></option>
                                            <% }) %>
                                        </datalist>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <input type="text" name="brand" list="brands" placeholder="Введите марку оборудования..." required="on" />
                                        <datalist id="brands">
                                            <% usedEquipmentBrands.forEach(function (usedEquipmentBrand) { %>
                                                <option><%- usedEquipmentBrand %></option>
                                            <% }) %>
                                        </datalist>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <input type="text" name="name" placeholder="Введите наименование оборудования..."  required="on" autocomplete="off" />
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <select name="user" id="user">
                                        <option value="" selected>Ответственный пользователь не выбран...</option>
                                        <% users.forEach(function (user) { %>
                                            <option value="<%- user._id %>"><%- user.username %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <input type="text" name="inventoryCode" placeholder="Введите инвентарный номер оборудования (может быть пустым)" autocomplete="off" />
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <textarea name="description" rows="6" class="form-control" id="description" placeholder="Примечание..."></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="button">Подтвердить</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<%- include('partials/sidebar') %>

<%- include('partials/footer') %>
