<%- include('partials/head') %>

<div id="main">
    <div class="inner">

        <%- include('partials/header') %>

        <section class="forms">
            <h1 class="mb-5">Добавление оборудования:</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form id="contact" action="<%-  %>" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <input
                                            type="text"
                                            placeholder="Введите наименование оборудования..."
                                            required="on"
                                            disabled
                                            value="<%= equipmentUser.user ? equipmentUser.user.username : 'Ответственный пользователь не назначен' %>"
                                            autocomplete="off"
                                        />
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <select name="user" id="user">
                                        <option value="" selected>Передать оборудование...</option>
                                        <% users.forEach (function (user) { %>
                                            <option value="<%- user._id %>"><%- user.username %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="button">Подтвердить</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Tables -->
<!--        <section class="container">-->
<!--            <div class="container-fluid">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="section-heading">-->
<!--                            <h2>Список оборудования</h2>-->
<!--                        </div>-->
<!--                        <div class="alternate-table">-->
<!--                            <table>-->
<!--                                <thead>-->
<!--                                <tr>-->
<!--                                    <th>#</th>-->
<!--                                    <th>От кого</th>-->
<!--                                    <th>К кому</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                    <tr>-->
<!--                                    </tr>-->
<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->

    </div>
</div>

<%- include('partials/sidebar') %>

<%- include('partials/footer') %>
