<%- include('partials/head') %>

<div id="main">
    <div class="inner">

        <%- include('partials/header') %>

        <!-- Tables -->
        <section class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h2>Список оборудования</h2>
                        </div>
                        <div class="alternate-table">
                            <table>
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Наименование</th>
                                    <th>Тип</th>
                                    <th>Подтип</th>
                                    <th>Марка</th>
                                    <th>Опции</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% equipments.forEach(function (equipment) { %>
                                    <tr>
                                        <td><%- equipment.inventoryCode %></td>
                                        <td><%- equipment.name %></td>
                                        <td><%- equipment.type %></td>
                                        <td><%- equipment.subtype %></td>
                                        <td><%- equipment.brand %></td>
                                        <td>
                                            <a href="/equipments/<%- equipment._id %>">
                                                Обновить
                                            </a>
                                        </td>
                                    </tr>
                                <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

<%- include('partials/sidebar') %>

<%- include('partials/footer') %>
