<%- include('partials/head') %>

<div id="main">
    <div class="inner">

        <%- include('partials/header') %>

        <section class="forms">
            <h1 class="mb-5">Передача оборудования:</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form id="contact" action="<%-  %>" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <input
                                            type="text"
                                            placeholder="Введите наименование оборудования..."
                                            required="on"
                                            disabled
                                            value="<%= equipmentUser.user ? equipmentUser.user.username : 'Ответственный пользователь не назначен' %>"
                                            autocomplete="off"
                                        />
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <select name="user" id="user">
                                        <option value="" selected>Ответственный отсутствует</option>
                                        <% users.forEach (function (user) { %>
                                            <option value="<%- user._id %>"><%- user.username %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="button">Подтвердить</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Tables -->
        <section class="container mt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h2>История передачи оборудования</h2>
                        </div>
                        <% if (equipmentMoves.length) { %>
                        <div class="alternate-table">
                            <table>
                                <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>От кого</th>
                                    <th>К кому</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% equipmentMoves.forEach(function (equipmentMove) { %>
                                        <tr>
                                            <td><%- equipmentMove.to.createdAt %></td>
                                            <td><%= equipmentMove.from.user ? equipmentMove.from.user.username : 'Ответственный отсутствует' %></td>
                                            <td><%= equipmentMove.to.user ? equipmentMove.to.user.username : 'Ответсвенный снят' %></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                        <% } else { %>
                            <div class="alternate-table">
                                <h3>История передач оборудования пуста</h3>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

<%- include('partials/sidebar') %>

<%- include('partials/footer') %>
