<%- include('partials/head') %>

<div id="main">
    <div class="inner">

        <%- include('partials/header') %>

        <!-- Tables -->
        <section class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h2>Список заявок</h2>
                        </div>
                        <div class="alternate-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Пользователь</th>
                                        <th>Тип</th>
                                        <th>Статус</th>
                                        <th>Опции</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% requests.forEach(function (request, index) { %>
                                    <tr>
                                        <td><%- index + 1 %></td>
                                        <td><%- request.user.username %></td>
                                        <td><%- request.type %></td>
                                        <td class="badge-<%- request.status.class %>"><%- request.status.name %></td>
                                        <td>

                                        </td>
                                    </tr>
                                <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

<%- include('partials/sidebar') %>

<%- include('partials/footer') %>
